---
http_interactions:
- request:
    method: post
    uri: https://development.avalara.net/Tax/TaxSvc.asmx
    body:
      encoding: UTF-8
      string: "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:ser=\"http://avatax.avalara.com/services\">\n   <soapenv:Header>\n      <wsse:Security
        xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\">\n
        \        <wsse:UsernameToken wsu:Id=\"UsernameToken-7\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\">\n
        \           <wsse:Username>[Username]</wsse:Username>\n            <wsse:Password
        Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">[Password]</wsse:Password>\n
        \           <wsu:Created>2012-03-02T23:41:44.511Z</wsu:Created>\n         </wsse:UsernameToken>\n
        \     </wsse:Security>\n      <ser:Profile>\n         <ser:Name></ser:Name>\n
        \        <ser:Client>Spree::Avatax</ser:Client>\n         <ser:Adapter>Avatax
        SDK for Ruby2.0.2</ser:Adapter>\n         <ser:Machine></ser:Machine>\n      </ser:Profile>\n
        \  </soapenv:Header>\n      <soapenv:Body>\n        <ser:GetTax>\n         <ser:GetTaxRequest>\n
        \          <ser:CompanyCode>[Company]</ser:CompanyCode>\n           <ser:DocType>SalesInvoice</ser:DocType>\n
        \          <ser:DocCode>R383509579</ser:DocCode>\n           <ser:DocDate>2015-07-24</ser:DocDate>\n
        \          <ser:SalespersonCode></ser:SalespersonCode>\n           <ser:CustomerCode>clovis@runolfsdottirvon.com</ser:CustomerCode>\n
        \          <ser:CustomerUsageType></ser:CustomerUsageType>\n           <ser:Discount>-0.0</ser:Discount>\n
        \          <ser:PurchaseOrderNo></ser:PurchaseOrderNo>\n           <ser:ExemptionNo></ser:ExemptionNo>\n
        \          <ser:OriginCode></ser:OriginCode>\n           <ser:DestinationCode></ser:DestinationCode>\n
        \          <ser:Addresses>\n           <ser:BaseAddress>\n             <ser:AddressCode>1</ser:AddressCode>\n
        \            <ser:Line1>35 Crosby St</ser:Line1>\n             <ser:Line2>Northwest</ser:Line2>\n
        \            <ser:Line3></ser:Line3>\n             <ser:City>New York</ser:City>\n
        \            <ser:Region></ser:Region>\n             <ser:PostalCode>10013</ser:PostalCode>\n
        \            <ser:Country></ser:Country>\n             <ser:TaxRegionId>0</ser:TaxRegionId>\n
        \            <ser:Latitude></ser:Latitude>\n             <ser:Longitude></ser:Longitude>\n
        \          </ser:BaseAddress>   \n           </ser:Addresses>\n           <ser:Lines>\n
        \          <ser:Line>\n             <ser:No>Spree::LineItem-1</ser:No>\n             <ser:OriginCode>1</ser:OriginCode>\n
        \            <ser:DestinationCode>1</ser:DestinationCode>\n             <ser:ItemCode>SKU-28</ser:ItemCode>\n
        \            <ser:TaxCode>TaxCode - 843504</ser:TaxCode>\n             <ser:Qty>1</ser:Qty>\n
        \            <ser:Amount>10.0</ser:Amount>\n             <ser:Discounted>true</ser:Discounted>\n
        \            <ser:RevAcct></ser:RevAcct>\n             <ser:Ref1></ser:Ref1>
        \                 \n             <ser:Ref2></ser:Ref2>\n             <ser:ExemptionNo></ser:ExemptionNo>\n
        \            <ser:CustomerUsageType></ser:CustomerUsageType>\n             <ser:Description>Natus
        amet eius eum excepturi rerum molestias. Et sunt autem laborum eum reprehenderit
        aperiam re...</ser:Description>\n             <ser:TaxOverride>\n               <ser:TaxOverrideType>None</ser:TaxOverrideType>\n
        \              <ser:TaxAmount>0</ser:TaxAmount>\n               <ser:TaxDate>1900-01-01</ser:TaxDate>\n
        \              <ser:Reason></ser:Reason>\n             </ser:TaxOverride>\n
        \            <ser:TaxIncluded>false</ser:TaxIncluded>\n             <ser:BusinessIdentificationNo></ser:BusinessIdentificationNo>\n
        \          </ser:Line>\n           <ser:Line>\n             <ser:No>Spree::LineItem-2</ser:No>\n
        \            <ser:OriginCode>1</ser:OriginCode>\n             <ser:DestinationCode>1</ser:DestinationCode>\n
        \            <ser:ItemCode>SKU-29</ser:ItemCode>\n             <ser:TaxCode>TaxCode
        - 843504</ser:TaxCode>\n             <ser:Qty>1</ser:Qty>\n             <ser:Amount>10.0</ser:Amount>\n
        \            <ser:Discounted>tru[...]
